*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.img-logo{
    width: 120px;
    height: 60px;
}

.iconosr{
    color: white;
    text-decoration: none;
}

/*Hero*/

.banner{
    background: url("img/rilo.JPG") center/cover;
    height: 200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner::before{
    content: "";
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.3;

}
.banner__info{
    padding: 0.3em;
    position: absolute;
    width: 100%;
    max-width: 700px;
    text-align: center;
    color: white;
    margin: auto;
}
.banner_title{
    line-height: 1.5;
    font-size: 2em;
    font-family: sans-serif;
}
.banner__p{
    line-height: 2 ;
    font-size: 0.9;
    font-family: sans-serif;
    margin-top: 40px;
}

@media (max-width:768px){
    .servicio-fila{
        width: 100%!important;
        text-align: center;
    }
}
@media (max-width:576px){
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center!important;
    }
}

.bod{
    width: 100%;
    display: flex;
}
.form__input{
    font-size: 1rem;
    padding: .8em 1em;
    outline: none;
    border: none;
    border: 1px solid #bbb0b0;
    border-radius: 0.2em;

}
.form__cta{
    background-color: #089fe0;
    color: white;
    border: none;
    font-weight: 700;
    font-size: 1rem;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;
}
.form{
    background-color: white;
    width: 90%;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em;
    margin: auto;
}
.form__container{
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}
.form__titulo{
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: .4em;
    color: black;
}
.form__input--message{
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: .5em;
}
@media (max-width: 450px){
    form{
        padding: 3.5em 1em;
    }
}